.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
  padding: 20px 10px;

  background-color: var(--color-mainBackgroun);

  box-shadow: 0px 2px 10px 1px var(--color-dark);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  color: var(--color-accent);
}

.link {
  color: var(--color-light);
  font-size: var(--font-medium);
  font-weight: 700;

  text-transform: uppercase;

  transition-property: color, background-color, transform;
  transition-duration: 0.2s;
  transition-timing-function: var(--animation-cubicBezier);

  transform: scale(0.9);
}

.active {
  composes: link;
  color: var(--color-white);
  background-color: var(--color-accent);

  padding: 6px 12px;
  border-radius: 4px;

  transform: scale(1);
  pointer-events: none;
}

.link:hover,
.link:focus {
  color: var(--color-white);
}

.currency {
  color: var(--color-accent);
}
